@namespace Wsz.Oqt.WszTheme
@inherits ContainerBase

<div class="container-fluid px-4">
    <ModuleActions />
</div>
<div class="container-fluid px-4">
    <ModuleInstance />
</div>

@code {
    public override string Name => "Container Spacing 4";
}
